<!DOCTYPE html>     <!-- //W4D5 (2:09:) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue playground</title>
    <script src = "scripts/Vendor/vue.js" ></script>
    <script src = "scripts/myvue.js" defer></script>
</head>
<body>
    <h1>Vue examp</h1>
    <div class="" id="app1">
        <p> Hello {{ message }} </p>

        <p title = "Static Warning"> Beware of {{ warning }} </p>
        <p v-bind:title = "created"> Beware of {{ warning }} </p>
        <p v-if="seen"> Hello hidden {{ message }} </p>
        <hr>
        <ol>
                <li v-if="seen" v-for="todo in todos">
                  {{ todo.text }}
                </li>
              </ol>
              <hr>
              <p>{{ message }}</p>
              <button v-on:click="reverseMessage">Reverse Message</button>
              <input v-model="message">


    </div>
    
</body>
</html>